In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [27]:
states = pd.read_csv(r"C:\Users\synwi\states_all.csv")
states2 = pd.read_csv(r"C:\Users\synwi\states_all2.csv")

In [5]:
#1.Soru
#Veri tipleri:
states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1918 non-null   object
 1   STATE                         1918 non-null   object
 2   YEAR                          1918 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              535 non-null    float64
 22  AVG_MATH_8_SCORE              531 non-null    float64
 23  AVG_READING_4_SCORE           532 non-null    float64
 24  AVG_READING_8_SCORE           497 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 374.7+ KB

In [9]:
#1.Soru
#Null degerler oranlari:
states.isnull().sum()*100/states.shape[0]

PRIMARY_KEY                      0.000000
STATE                            0.000000
YEAR                             0.000000
ENROLL                          36.183525
TOTAL_REVENUE                   33.524505
FEDERAL_REVENUE                 33.524505
STATE_REVENUE                   33.524505
LOCAL_REVENUE                   33.524505
TOTAL_EXPENDITURE               33.524505
INSTRUCTION_EXPENDITURE         33.524505
SUPPORT_SERVICES_EXPENDITURE    33.524505
OTHER_EXPENDITURE               36.183525
CAPITAL_OUTLAY_EXPENDITURE      33.524505
GRADES_PK_G                     19.603754
GRADES_KG_G                     14.911366
GRADES_4_G                      14.911366
GRADES_8_G                      14.911366
GRADES_12_G                     14.911366
GRADES_1_8_G                    46.819604
GRADES_9_12_G                   44.160584
GRADES_ALL_G                    14.911366
AVG_MATH_4_SCORE                72.106361
AVG_MATH_8_SCORE                72.314911
AVG_READING_4_SCORE             72.262774
AVG_READING_8_SCORE             74.087591
dtype: float64

In [10]:
#2.Soru
#Null deger yuzdesi cok yuksek olan veri tipleri icin, bu bos verileri doldurmak anlamsizdir.

In [11]:
states

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.398961,260.892247,196.764414,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,244.243515,288.172322,221.519266,262.720477
1914,2017_RHODE_ISLAND,RHODE_ISLAND,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,237.554934,277.180126,223.353443,269.553823
1915,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,234.043993,274.673821,213.127835,265.767860
1916,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,241.588947,286.376160,221.750123,259.753002
1917,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,236.057019,273.415854,217.316396,271.617023

In [30]:
#3.Soru
#Oralama deger ile doldurulduktan sonra veri kumesi:
states["ENROLL"].fillna(states["ENROLL"].mean(), inplace=True)
states["TOTAL_REVENUE"].fillna(states["TOTAL_REVENUE"].mean(), inplace=True)
states["FEDERAL_REVENUE"].fillna(states["FEDERAL_REVENUE"].mean(), inplace=True)
states["STATE_REVENUE"].fillna(states["STATE_REVENUE"].mean(), inplace=True)
states["LOCAL_REVENUE"].fillna(states["LOCAL_REVENUE"].mean(), inplace=True)
states["TOTAL_EXPENDITURE"].fillna(states["TOTAL_EXPENDITURE"].mean(), inplace=True)
states["INSTRUCTION_EXPENDITURE"].fillna(states["INSTRUCTION_EXPENDITURE"].mean(), inplace=True)
states["SUPPORT_SERVICES_EXPENDITURE"].fillna(states["SUPPORT_SERVICES_EXPENDITURE"].mean(), inplace=True)
states["OTHER_EXPENDITURE"].fillna(states["OTHER_EXPENDITURE"].mean(), inplace=True)
states["CAPITAL_OUTLAY_EXPENDITURE"].fillna(states["CAPITAL_OUTLAY_EXPENDITURE"].mean(), inplace=True)
states["GRADES_PK_G"].fillna(states["GRADES_PK_G"].mean(), inplace=True)
states["GRADES_KG_G"].fillna(states["GRADES_KG_G"].mean(), inplace=True)
states["GRADES_4_G"].fillna(states["GRADES_4_G"].mean(), inplace=True)
states["GRADES_8_G"].fillna(states["GRADES_8_G"].mean(), inplace=True)
states["GRADES_12_G"].fillna(states["GRADES_12_G"].mean(), inplace=True)
states["GRADES_1_8_G"].fillna(states["GRADES_1_8_G"].mean(), inplace=True)
states["GRADES_9_12_G"].fillna(states["GRADES_9_12_G"].mean(), inplace=True)
states["GRADES_ALL_G"].fillna(states["GRADES_ALL_G"].mean(), inplace=True)
states["AVG_MATH_4_SCORE"].fillna(states["AVG_MATH_4_SCORE"].mean(), inplace=True)
states["AVG_MATH_8_SCORE"].fillna(states["AVG_MATH_8_SCORE"].mean(), inplace=True)
states["AVG_READING_4_SCORE"].fillna(states["AVG_READING_4_SCORE"].mean(), inplace=True)
states["AVG_READING_8_SCORE"].fillna(states["AVG_READING_8_SCORE"].mean(), inplace=True)
states

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,917541.566176,2.678885e+06,3.041770e+05,1.659028e+06,7.156800e+05,2.653798e+06,1.481703e+06,...,57948.000000,58025.000000,41167.000000,577954.717647,282069.084967,7.316340e+05,208.327876,252.187522,207.963517,263.683325
1,1992_ALASKA,ALASKA,1992,917541.566176,1.049591e+06,1.067800e+05,7.207110e+05,2.221000e+05,9.724880e+05,4.983620e+05,...,9748.000000,8789.000000,6714.000000,577954.717647,282069.084967,1.224870e+05,234.797280,278.461453,218.897886,258.859712
2,1992_ARIZONA,ARIZONA,1992,917541.566176,3.258079e+06,2.978880e+05,1.369815e+06,1.590376e+06,3.401580e+06,1.435908e+06,...,55433.000000,49081.000000,37410.000000,577954.717647,282069.084967,6.734770e+05,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,917541.566176,1.711959e+06,1.785710e+05,9.587850e+05,5.746030e+05,1.743022e+06,9.643230e+05,...,34632.000000,36011.000000,27651.000000,577954.717647,282069.084967,4.414900e+05,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,917541.566176,2.626002e+07,2.072470e+06,1.654651e+07,7.641041e+06,2.713883e+07,1.435892e+07,...,418418.000000,363296.000000,270675.000000,577954.717647,282069.084967,5.254844e+06,208.398961,260.892247,196.764414,263.683325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,244.243515,288.172322,221.519266,262.720477
1914,2017_RHODE_ISLAND,RHODE_ISLAND,2017,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,237.554934,277.180126,223.353443,269.553823
1915,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,234.043993,274.673821,213.127835,265.767860
1916,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,241.588947,286.376160,221.750123,259.753002
1917,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,917541.566176,9.102045e+06,7.677799e+05,4.223743e+06,4.110522e+06,9.206242e+06,4.768010e+06,...,69166.507966,68106.537377,58420.870711,577954.717647,282069.084967,9.139695e+05,236.057019,273.415854,217.316396,271.617023

In [23]:
#3.Soru
states.isnull().sum()*100/states.shape[0]

PRIMARY_KEY                     0.0
STATE                           0.0
YEAR                            0.0
ENROLL                          0.0
TOTAL_REVENUE                   0.0
FEDERAL_REVENUE                 0.0
STATE_REVENUE                   0.0
LOCAL_REVENUE                   0.0
TOTAL_EXPENDITURE               0.0
INSTRUCTION_EXPENDITURE         0.0
SUPPORT_SERVICES_EXPENDITURE    0.0
OTHER_EXPENDITURE               0.0
CAPITAL_OUTLAY_EXPENDITURE      0.0
GRADES_PK_G                     0.0
GRADES_KG_G                     0.0
GRADES_4_G                      0.0
GRADES_8_G                      0.0
GRADES_12_G                     0.0
GRADES_1_8_G                    0.0
GRADES_9_12_G                   0.0
GRADES_ALL_G                    0.0
AVG_MATH_4_SCORE                0.0
AVG_MATH_8_SCORE                0.0
AVG_READING_4_SCORE             0.0
AVG_READING_8_SCORE             0.0
dtype: float64

In [28]:
#4.Soru
df1 = states2.interpolate()

In [29]:
#4.Soru
#Enterpole edilmis veri kumesi
df1

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,211.790904,258.776900,207.088116,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.398961,260.892247,196.764414,265.519676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,2017_NORTH_DAKOTA,NORTH_DAKOTA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,159595.0,27361.0,94258.0,244.243515,288.172322,221.519266,262.720477
1914,2017_RHODE_ISLAND,RHODE_ISLAND,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,159595.0,27361.0,94258.0,237.554934,277.180126,223.353443,269.553823
1915,2017_SOUTH_CAROLINA,SOUTH_CAROLINA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,159595.0,27361.0,94258.0,234.043993,274.673821,213.127835,265.767860
1916,2017_SOUTH_DAKOTA,SOUTH_DAKOTA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,159595.0,27361.0,94258.0,241.588947,286.376160,221.750123,259.753002
1917,2017_WEST_VIRGINIA,WEST_VIRGINIA,2017,94511.0,2044669.0,123012.0,1175899.0,745758.0,2034229.0,921494.0,...,7537.0,7086.0,6405.0,159595.0,27361.0,94258.0,236.057019,273.415854,217.316396,271.617023

In [ ]:
#5.Soru
#Doldurulan degerler arasinda buyuk bir fark yoktur.